.guitarra {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
    /* margin-top: 2.5em; */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    transition: .2s ease-in-out all;
    -webkit-transition: .2s ease-in-out all;
    -moz-transition: .2s ease-in-out all;
    -ms-transition: .2s ease-in-out all;
    -o-transition: .2s ease-in-out all;
}

.guitarra:hover {

    box-shadow: 0 4px 30px rgba(104, 104, 104, 0.1);

}

.contenido {
    padding: 1rem;
}

.contenido h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary);
}

.descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    font-size: 1.8rem;
}

.precio {
    color: var(--primary);
    font-size: 4rem;
    margin: 0;
    font-weight: 900;
}

.enlace {
    margin-top: 2rem;
    display: block;
    /* background-color: var(--black); */
    color: var(--black);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 1.4rem;
    font-weight: 700;

    border-radius: 16px;
    transition: .2s ease-in-out all;
}

.enlace:hover {
    /* background-color: var(--primary); */
    /* color: var(--white) */
    /* From https://css.glass */
    background: rgba(233, 148, 1, 0.678);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(163, 137, 63, 0.05); */
}

.formulario{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 1rem;
}

.formulario label{
    font-size: 1.5rem;
}

.formulario select{
    /* border: none; */
    border: 1px solid var(--black);
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.formulario input[type='submit']{
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 1rem;
    transition: ease-in-out all .3s;
    -webkit-transition: ease-in-out all .3s;
    -moz-transition: ease-in-out all .3s;
    -ms-transition: ease-in-out all .3s;
    -o-transition: ease-in-out all .3s;
}
.formulario input[type='submit']:hover{
    background-color: var(--primary);
    cursor: pointer;
}